
<div ng-page>
<div class="page-header" id="pageHeader">
    <h1>
        角色
        <small>
            <i class="fa fa-angle-double-right"></i>
            用户管理
        </small>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
        <p>
            <button class="btn btn-primary second"  ng-click="roleAddUser" id="roleAddUser">
                <i class="fa fa-plus"></i>
                添加
            </button>
            <button class="btn btn-primary second"  ng-click="roleDeleteUser" id="roleDeleteUser">
                <i class="fa fa-trash-o"></i>
                删除
            </button>
        </p>
        <div class="table-responsive">
        <table id="role-user-table" class="table table-striped table-hover width100">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="radio" disabled="true" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th class="center">用户</th>
                <th class="center">邮箱</th>
                <th class="center">性别</th>
            </tr>
            </thead>
        </table>

        </div><!-- /.table-responsive -->
    </div><!-- /span -->
</div><!-- /row -->

<div id="roleUserModal" class="modal fade " tabindex="-1">
    <div class="modal-dialog image-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="bootbox-close-button close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">
                    <i class="fa fa-upload blue"></i> 选择用户</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <table id="roleUserModalTable" class="table table-striped table-hover width100">
                        <thead>
                        <tr>
                            <th class="center">
                                <label>
                                    <input type="checkbox" class="ace" disabled="true" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="center">用户</th>
                            <th class="center">邮箱</th>
                            <th class="center">性别</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-info" type="button"  data-dismiss="modal">
                    <i class="fa fa-upload"></i> 
                    取消
                </button>
                <button class="btn btn-primary" type="submit" id="roleAddUserCtrl" ng-click="roleAddUserCtrl">
                    <i class="fa fa-check"></i> 
                    确定
                </button>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div>
</div>




